@charset "utf-8";
/* CSS Document */
/*//////////////////////////////////common parts//////////////////////////////////////////////////*/
body { 
margin:0 auto; padding:0px;
font-family:Verdana; font-size:12px;
background-image:url(../img/bg.jpg); background-repeat:repeat-x;
}
img {border:0px;}
h1,h2{font-size:16px; font-weight:normal; padding:0; margin:0;}
h3{font-size:14px; font-weight:normal; padding:0; margin:0;}
form,input{margin:0px;}
hr { border:0px; border-bottom:1px #CCC solid;}
.clear{clear:both; height:0px;font-size:0px;}
.none{display:none;}
.left{float:right;}
.right{float:left;}
.suntab tr td{border-right: 1px solid #CCC;
border-bottom: 1px solid #CCC;
background: #fff;
}
.suntab {border-top:1px #CCC solid; border-left:1px #CCC solid;}
.suntab thead tr td{ background-color:#E0E0E0; background-image:url(img/th-bg.gif); background-repeat:repeat-x;}

/*//////////////////////////////////div parts//////////////////////////////////////////////////*/
#container,#head,#body,#foot{ width:970px; height:auto; margin:0 auto;}
/*=============Head defination=============*/
#logo{ margin-top:42px;}/*==logo==*/
#logo_left{ width:590px; margin:0px 0px 16px 0px;}
#logo_left img{ vertical-align:middle; float:right;}
#logo_left span{ padding-top:18px; display:block; text-align:right;}

#logo_right{ width:380px; margin:39px 0px 0px 0px; color:#3b5179; font-size:12px; font-family:Arial;}
#logo_right ul{ list-style:none; margin:0px; padding:0px;}
#logo_right ul li{ display:inline; float:right; padding:0px 10px;}
#logo_right ul li a{ text-decoration:none; color:#3b5179;}
#nav{ clear:both; font-family:Arial; font-size:17px; background-image:url(../img/nav_vline.jpg); background-repeat:no-repeat; background-position:right center;}/*==nav==*/
#nav ul{ list-style:none; margin:0px; padding:0px;}
#nav ul li{ display: inline; text-align:center;  background-image:url(../img/nav_vline.jpg); background-repeat:no-repeat; background-position:left center; float:right;}
#nav ul li a{ color:#FFF;/* font-weight:bold;*/padding:0px 33px; line-height:47px; height:47px; text-decoration:none;}
#nav ul li a:hover{padding:15px 33px; line-height:47px; height:47px; background-image:url(../img/nav_hover.jpg); background-repeat:no-repeat; background-position:center;}

#banner{
	HEIGHT: 231px; width:970px; clear:both;}/*==banner==*/
/*=============Body defination=============*/
#body{ clear:both; width:970px; height:auto;}
#left{ float:left; padding-top:19px; width:665px; margin-bottom:15px;}/*==left==*/
#left_1{ background-image:url(../img/box_mid.jpg); background-repeat:repeat-y; width:665px;}
.left_1_content{ padding:5px 25px 15px 25px ;}
.left_1_content img{padding:0px 10px 0px 0px ;}
.left_1_content ul{ list-style:none; margin:0px; padding:0px;}
.left_1_content ul li{ list-style:none;}

#left_2{ margin-top:15px; width:665px; clear:both;}
.l_title {background-image:url(../img/titlebg.jpg); background-repeat:no-repeat; line-height:37px; padding-right:22px; color:#FFF; font-family:Arial; font-size:18px;}
.l_title a{ margin-left:10px; color:#FFF;}
.pro {display:block; float:right; width:198px; margin:10px 0px 10px 23px;height:252px;}
.propic { border:1px #d2d2d2 solid; padding:5px; background-color:#FFF;}
.protitle { display:block; color:#06639d; background-image:url(../img/dashline.jpg); background-repeat:no-repeat; background-position:bottom; font-family:Verdana; width:198px; height:26px; line-height:26px;}
.protitle a{color:#06639d; text-decoration:none;height:26px; line-height:26px; font-size:14px;}
.protitle a:link{color:#06639d;}
.protitle a:visited{color:#06639d;}
.protitle a:hover{color:#06639d;}
.protitle a:active{color:#06639d;}


.prointro { display:block; font-family:Verdana; width:198px; font-size:11px; line-height:150%;}

#left_3{ clear:both;}
.profile{ color:#000; line-height:200%; text-align:right; margin-right:5px;}
.profile strong{ border-bottom:#0CF dashed 1px;display:block; width:650px;}
.chat{ border:1px #dbdbdb solid; padding:1px; overflow:hidden;}
.chattitle{ background-color:#f6f6f6; height:38px; line-height:38px; width:636px; display:block; padding-right:25px; color:#000; font-family:Arial; font-size:16px; margin-bottom:10px;}
.chatform{ margin:5px 10px 20px 10px; font-size:12px; float:right; width:105px; color:#09C;}
.left_3_right{float:right; width:530px;}
.online{ clear:both;margin-top:10px; margin-right:5px; width:95px; height:27px; line-height:30px;}
#right{ width:284px; padding-top:19px; float:right; background-color:#e5e5e5;}/*==right==*/
#right_1{margin-right:13px;width:260px; height:25px;}
#search input[type="text"] { border:1px #6c98b2 solid;  width:200px; height:20px; float:right;}
#search input[type="image"]{ vertical-align:middle; margin-right:3px; float:right;}

#right_2{ width:258px; clear:both; margin-top:14px; margin-right:13px; padding-bottom:15px; background-color:#FFF;}
.more { float:right;}
.r_title {background:url(../img/right-list.gif) no-repeat; padding:4px 55px 0px 0px; font-size:16px; line-height:56px; color:#FFF; width:204px; height:57px;}
#right_2 ul{list-style:none; margin:0px; padding:10px 0px 20px 0px; background-image:url(../img/right_2_bg.jpg); background-repeat:repeat-x;}
#right_2 ul li{display:block;list-style-position:outside; height:40px; border:0px; border-bottom:1px #CCC solid; padding-left:38px; padding-right:30px; padding-top:10px;}
#right_2 ul li a{ text-decoration:none; color:#000;}
span.tel{width:15px; height:13px; float:right;background-position:-87px 0px; margin-left:7px;}
span.fax{width:16px; height:16px; float:right;background-position:-52px 0px; margin-left:7px;}
span.msn{width:15px; height:13px; float:right;background-position:-104px 0px; margin-left:7px;}
span.email{width:16px; height:12px; float:right;background-position:-71px 0px; margin-left:7px;}
span.live{width:15px; height:12px; float:right;background-position:-16px 0px; margin-left:7px;}
span.blog{width:11px; height:10px; float:right;background-position:0px 0px; margin-left:7px; margin-top:2px;}
span.faq{width:19px; height:12px; float:right;background-position:-31px 0px; margin-left:7px;}
span.con{width:15px; height:12px; float:right;background-position:-16px 0px; margin-left:7px;}
span.orange{width:4px; height:7px; float:right;background-position:-145px 0px; margin-left:7px; margin-top:4px;}
.tel,.fax,.msn,.email,.live,.faq,.blog,.con,.orange{background:url(../img/arabiccrusher.gif) no-repeat;}
.blue{ color:#2495eb}
.r_title_2{background:url(../img/right-list.gif) no-repeat; background-position:-10px -61px; width:214px; height:37px; line-height:37px; color:#FFF; padding-right:34px; font-family:Arial; font-size:16px; margin:5px 0;}
.r_title_2 a{ color:#FFF;}
#right_3{ margin-top:10px;}

/*=============Foot defination=============*/
#foot{ font-size:11px; clear:both; height:73px; line-height:73px;}
#foot_left{font-size:12px; padding-right:10px;}
#foot_left a{font-size:14px; padding:0 5px;}
#foot_right{ padding-left:10px;}
#form{
	height:auto; margin-top:5px; border:#0CF dashed 1px; background-color:#EBEBEB;
	}
.m_on {
	color:#000; height:15px; font-size:12px;
	margin:5px 0; float:right; width:185px;
}
.m_off{
	color:#000; height:15px; font-size:12px;
	margin:5px 0; float:right;  width:185px;
	}
#form td{ text-align:left; font-size:10px;}
.conif{ font-size:15px; margin:10px 5px 10px 10px; padding-top:10px; padding-bottom:5px; border-bottom:#CCC 2px solid;}
#detail_left{width:665px; clear:both;}
.detail_title{background-image:url(../img/titlebg.jpg); background-repeat:no-repeat; line-height:37px; padding-right:22px; color:#FFF; font-size:16px; margin-bottom:15px; height:37px;}
.detail_title a{ display:block; float:right; color:#FFF; margin-left:10px;}
.detail_title h1{ display:block; float:right;}
.paramter{width:665px; margin-bottom:10px;}
.paramter img{ margin-right:3px;}
.detail_content{padding:5px 20px 0px 25px ; height:auto; background-image:url(../img/detail_mid.jpg); background-repeat:repeat-y; }
.content_left{ width:252px; float:left}
.border{padding:3px; background-color:#FFF; border:1px #CCC solid;}
.see{width:254px; font-size:16px; height:32px; line-height:32px; background-color:#b9b9b9; display:block; text-align:center; color:#FFF; margin-right:3px;}
.see a{ color:#FFF; text-decoration:none}

#tbody {width:252px;margin:0px;text-align:left;}
#mainbody {width:240px;margin:0px;border:0px solid #222;}
#mainphoto {cursor:pointer;display:block;}
#goleft {float:left;clear:left;margin:18px 5px 0 3px;}
#goright {float:right;clear:right;margin:18px 3px 0 5px;}
#photos {width:212px;height:41px;line-height:41px;border:0px solid #222;margin:5px 0;overflow:hidden;}
#showArea img {display:block;float:left;margin:1px 5px;cursor:pointer; padding:1px; border:0px solid #222}
.txt_1 {font:bold 24px Verdana, Tahoma;color:#fff;}


/*====================*/
.aril_blue { font-family:Arial; font-size:16px; font-weight:bold; color:#2575c6; line-height:35px; height:35px; padding-top:20px;}
.height{ height:25px; margin-top:10px; padding-top:10px;}

.content_right{ width:330px; background-color:#f3f4f5;float:right; padding:10px 10px;}
.content_right table { margin:10px 0px; color:#000; font-size:11px; font-family:Arial;}
.content_right tr{ border:1px #afafaf dotted;}
.content_right tr td{ border:1px #afafaf dotted; height:19px;}
.tabs{} 
/*====================*/
#tab_container1{width:665px;margin-bottom:10px;}
.cls_tab_nav{height:34px;text-align:left;background:url(../img/line_bg.jpg) repeat-x bottom; padding-left:15px; font-family:Arial; font-size:18px; margin-right:1px; width:650px;}
.cls_tab_nav ul{font-family:Arial; font-size:18px; margin:0;padding:0;}
.cls_tab_nav_li{background:url(../img/tab_bg.jpg) no-repeat -183px 0;width:178px;height:34px;line-height:34px;float:right;display:inline; padding:3px; overflow:hidden;text-align:center;cursor:pointer;}
.cls_tab_nav_li_first{background-position:0px 0px;}
.cls_tab_nav_li a{text-decoration:none;color:#424141; font-family:Arial; font-size:18px;}
.cls_tab_body{padding:20px; line-height:150%; border:#999 1px solid; border-top:none;}
.about{ width:610px; background-color:#EFEFEF; padding:6px; margin-bottom:15px;}
.solution{ width:654px; background-color:#EFEFEF; padding:6px; margin-bottom:15px; line-height:150%;}
.solution a{margin-left:20px;}
.solumain{ width:654px; height:auto;}
.num{width:660px; height:25px; font-size:13px; text-align:center; line-height:25px; clear:both; background-color:#ececec; border:1px #0CF dashed; padding:2px;}
.num a{ margin:0 10px; text-decoration:none; color:#09F; font-style:italic; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a{ color:#000; text-decoration:none;}
.solu{ width:652px; height:80px; padding:5px; border:1px #CCC dashed; margin-top:10px;}
.solua{width:639px; height:30px; padding:3px 20px 3px 3px; border:1px #CCC dashed; margin-top:10px; line-height:30px; font-size:18px;}
.solu img{ float:right; margin-left:7px; padding:5px; border:1px #CCC solid;}
.solu span{ line-height:130%;}
.relactive{ font-size:16px; line-height:25px;}
.reproduct{ width:130px; height:150px; float:right; margin-left:22px; margin-bottom:10px;}
.reproduct a{ display:block;color:#000; text-decoration:none; padding:0;text-align:center; margin-top:6px; font-size:14px;}
.th{ width:613px; height:30px; line-height:30px; background-color:#EFEFEF; padding-right:10px; text-align:center;}
.th a{ color:#F00;}
#searchbox {
	 width:280px; height:25px;
}
.search {
	background:url(../img/arabiccrusher.gif) no-repeat;
	background-position:0 -62px ;
	width:52px; float:right;
	height:24px;
	border:none; margin-right:6px;
	margin-top:2px;
}
.textfield {
	border:1px #6c98b2 solid;
	width:193px; margin-top:2px;
	height:18px; float:right;
}
#fixed {
	position:fixed;
	right:85%;
	top:25%;
	_position:absolute;
	_right:80%;
	_top:25%;
}
.ff{ clear:both; width:100%; background:#000; background:url(../img/bottombg.jpg) repeat-x;}
.pull_right{
	text-align:center;}

.form-horizontal{float:left;
overflow:hidden;}
.liebiao{
	overflow:hidden;
	}
	.liebiao ul{
		padding-right:0px;
	float: left;
margin-left: 13px;
margin-top: 10px;
list-style: none;}
.liebiao li{
float: left;
width: 612px;
line-height: 25px;
margin-top:10px;
}
.liebiao li p {
    width: 400px;
    float: right;
	text-align: left;
	overflow:hidden;
	margin-right:20px;
	height:100px;
}
.liebiao li p a{
	float:right;}
.liebiao img {
    margin-top:20px;
    float: right;
}
.BoxText{
text-align:right;
overflow:hidden;}
.Box img{
	margin: 0 0px 10px 20px;
float: right;
padding:4px;
border:solid 1px #CCCCCC;}  
#nav-below ul li a {
    height: 30px;
    padding-left: 10px;
}
#nav-below ul li {
    list-style: outside none none;
    background: transparent none repeat scroll 0% 0%;
    display: block;
    float: right;
    clear: none;
    padding-left: 0px;
}
#related{
	line-height:20px;
	text-align:right;
	list-style:none;}
.article-nav{
	text-align:right;}
	.l_title span a{
		float:left;}
.form-horizontal table{
	margin-right:50px;}
.form-horizontal h3{
	text-align:center;}
.left_3_right form table:not(:first-child){
	    float:right;
    margin-right:50px;}
.left_3_right{ margin-bottom:10px;}
.pull_right #related{ padding-left:3px;}


.liebiao ul li{ overflow:hidden;}
.liebiao li a{ color:#3785c3;}
#proInfo_2{ overflow:hidden; margin-top:20px;}
#proInfo_2 h3{ float:right;}
#proInfo_2 .BoxText p:not(:last-child){ margin-right:200px; margin-top:20px;}
.ar_ab{ overflow:hidden; margin:26px 0;}
.ar_ab img{ float:right; margin-left:15px; width:210px;}
.more{ color:#F30; font-weight:bold;}
.more:hover{ text-decoration:underline;}
.related li a:hover, .caiji li a:hover, #nav-below li a:hover{ text-decoration:underline;}
.caiji li{ list-style:none; padding-top:8px;}
#nav-below li{ list-style:none; float:right; padding-left:8px;}
.next a{ color:#06639d;}
.next a:hover{ text-decoration:underline;}
.message{ overflow:hidden;}
.Box h3:hover, .related a:hover, .profile a:hover{ color:#F63;}